.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 2;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 300px;
}

.form-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5em 0;
}

.login-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.login-btn{
  background-color: #00a896; /* A vibrant teal for the button */
  color: #ffffff;
  padding: 14px 32px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 50px; /* Pill-shaped button */
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 168, 150, 0.2);
}
.login-btn:hover{
  background-color: #00c2ad;
  transform: translateY(-2px); /* Slight lift on hover */
}

