.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 300px;
}

.form-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5em 0;
}

.login-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.login-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.login-btn:hover{
    background-color: #0056b3;
}

